Should operation middleware set status 405?

Right now, when a resource is fund but no operation matches the request method (or otherwise no operations is found) the next middleware is called and likely results in a 404 response status.

I think that in such case the correct response is `405 Method Not Allowed`. According to RFC 7231 [section 6.5.5](https://tools.ietf.org/html/rfc7231#section-6.5.5) such a response must also include the `Allow` header which lists the allowed operations. That should be easy to satisfy by discovering all operation as we currently do.

My question is whether a 404 is ever a good response in such scenario. If a resource has been found by the `resource` middleware then it does seem wrong in general. If we agree on that, then maybe the request pipeline should end right there in the `operation` middleware. 

1. hydra-box found a resource
1. there is no operations
1. case closed, `405`, move along 😉 